.containerStyle {
    width: auto;
}

.filterSideBar {
    max-height: 500px !important;
    border: 2px solid red;
    margin-top: 22px;
}

.h4Style {
    padding: 10px 0px;
    color: floralwhite;
}

h6 {
    color: sienna;
}
h5 {
    color: grey;
}
h3 {
    text-align: left;
    color: aliceblue;
}
h4 {
    color: aliceblue;
}
h2 {
    color: whitesmoke;
    padding: 5px;
}

.showDrinks {
    padding-top: 100px;
}

.A200 {
    min-height: 200px;
    background-color: transparent;
    padding-top: 100px;
    align-items: center;
    margin-left: 0px;
}

.A100 {
    min-height: 100px;
    min-width: 1853px;
    color: white;
    font-size: large;
    position: fixed;
    z-index: 1;
    background-color: blue;
}

.A300 {
    flex-wrap: nowrap !important;
}
.A300:last-child hr {
    display: none;
}

.A3100 {
    margin: 1px 0px;
}

.A3200 {
    margin: 1px 0px;
    background-color: white;
}

.A3300 {
    margin: 1px 0px;
    background-color: white;
}

.A3400 {
    margin: 1px 0px;
    background-color: white;
}

.A3500 {
    margin: 1px 0px;
    background-color: white;
}

.A3600 {
    margin: 1px 0px;
    background-color: white;
}

.btn-primary {
    background-color: #1d000d;
    color: #fff;
    border-color: floralwhite;
}

.btn-primary:hover {
    background-color: #33000d;
}
.figure:hover {
    background: whitesmoke;
    height: auto;
    border-radius: 5px;
}
