.App {
  text-align: center;
    background-color: #f1f3f6;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.A100 {
  max-height: 100px;
  min-width: 1853px;
  color: white;
  font-size: large;
  position: fixed;
  z-index: 1;
  background-color: blue;
}

.A200 {
    padding: 100px 50px;
    flex-wrap: nowrap !important;
}
.A2100 {
    margin: 1px 0px;
    background-color: white;
}

.A2200 {
    margin: 1px 0px;
    background-color: white;
}

.A2300 {
    margin: 1px 0px;
    background-color: white;
}

.A2400 {
    margin: 1px 0px;
    background-color: white;
}

.A2500 {
    margin: 1px 0px;
    background-color: white;
}

.A2600 {
    margin: 1px 0px;
    background-color: white;
}
/*.A400 {
    padding-top: 100px;
}
*/
.header1 {
  text-align: left;
  padding-left: 100px;
  font-size: 2rem;
}

.App-link {
  color: #09d3ac;
}

/* package default styles */
.component-slider {
    position: relative;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
}
.component-slider .slider-container {
    margin: 0 20px;
    overflow: hidden;
}
.component-slider .slider-content {
    display: inline-block;
    transition: margin-left 0.15s ease-in;
}
.component-slider .caret-right {
    right: 0;
}
.component-slider .caret-left {
    left: 0;
}

/*custom styles*/
.menu-bar {
    border: 1px solid gray;
    width: 100%;
}

.menu-item {
    width: 100px;
    display: inline-block;
    padding: 15px 10px;
    cursor: pointer;
    text-transform: uppercase;
}

.menu-item:hover {
    background: #656565;
    color: #ffffff;
}
